:root {
  --bcg-color: rgba(229, 229, 229, 0.7);
  --minor-bcg-color: #f7f7f7;
  --accent-color: #ff6b08;
  --alert-color: #ff001b;

  --text-dark-color: #000000;
  --text-light-color: #545454;
  --the-lightest-text-color: #ffffff;

  --text-main-font: 'Roboto', sans-serif;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-time: 250ms;
  --error-background-color: lightgrey;
  --error-box-shadow: 5px 5px 15px 5px darkgrey;
}
