<div class="backdrop-our-team visually-hidden">
  <div class="modal-our-team">
    <svg class="close-btn" width="12" height="12">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>

    <ul class="our-team-list">
      <!-- <li class="our-team-list-item">
                <img src="./images/team-photos/Aleksei.jpg" alt="Aleksey">
                <div class="text-about-member">
                    <h2 class="team-member-title bold">Aleksey Anurov-Prihodko</h2>
                    <p class="text-about">Team Lead</p>
                    <p class="text-about">Lorem, ipsum dolor sit amet
                    </p>
                </div>
            </li>
            <li class="our-team-list-item">

                <img class="our-team-img" src="./images/team-photos/Kateryna.jpg" alt="Kateryna" />

                <div class="text-about-member">
                    <h2 class="team-member-title bold">Kateryna Burlaka</h2>
                    <p class="text-about">Scrum Master</p>
                    <p class="text-about">Lorem, ipsum dolor sit amet
                    </p>
                </div>
            </li>
            <li class="our-team-list-item">
                <img class="our-team-img" src="./images/team-photos/woman.jpg" alt="Kateryna" />

                <div class="text-about-member">
                    <h2 class="team-member-title bold">Daria Valitskaya</h2>
                    <p class="text-about">Developer</p>
                    <p class="text-about">Lorem, ipsum dolor sit amet
                    </p>
                </div>
            </li>
            <li class="our-team-list-item">
                <img class="our-team-img" src="./images/team-photos/woman.jpg" alt="Kateryna" />

                <div class="text-about-member">
                    <h2 class="team-member-title bold">Olena Tsapliuk</h2>
                    <p class="text-about">Developer</p>
                    <p class="text-about">Lorem, ipsum dolor sit amet
                    </p>
                </div>
            </li>
            <li class="our-team-list-item">
                <img class="our-team-img" src="./images/team-photos/man.jpg" alt="Kateryna" />

                <div class="text-about-member">
                    <h2 class="team-member-title bold">Evgeniy Stoyan</h2>
                    <p class="text-about">Developer</p>
                    <p class="text-about">Lorem, ipsum dolor sit amet
                    </p>
                </div>
            </li>
            <li class="our-team-list-item">
                <img class="our-team-img" src="./images/team-photos/woman.jpg" alt="Kateryna" />

                <div class="text-about-member">
                    <h2 class="team-member-title bold">Julia Gordienko</h2>
                    <p class="text-about">Developer</p>
                    <p class="text-about">Lorem, ipsum dolor sit amet
                    </p>
                </div>
            </li>
            <li class="our-team-list-item">
                <img class="our-team-img" src="./images/team-photos/man.jpg" alt="Kateryna" />

                <div class="text-about-member">
                    <h2 class="team-member-title bold">Mark Titan</h2>
                    <p class="text-about">Developer</p>
                    <p class="text-about">Lorem, ipsum dolor sit amet
                    </p>
                </div>
            </li>
            <li class="our-team-list-item">
                <img class="our-team-img" src="./images/team-photos/man.jpg" alt="Kateryna" />

                <div class="text-about-member">
                    <h2 class="team-member-title bold">Rostyslav Dubinin</h2>
                    <p class="text-about">Developer</p>
                    <p class="text-about">Lorem, ipsum dolor sit amet
                    </p>
                </div>
            </li>
            <li class="our-team-list-item">
                <img class="our-team-img" src="./images/team-photos/man.jpg" alt="Kateryna" />

                <div class="text-about-member">
                    <h2 class="team-member-title bold">Sergii Yastremskyi</h2>
                    <p class="text-about">Developer</p>
                    <p class="text-about">Lorem, ipsum dolor sit amet
                    </p>
                </div>
            </li>
            <li class="our-team-list-item">
                <img class="our-team-img" src="./images/team-photos/woman.jpg" alt="Kateryna" />

                <div class="text-about-member">
                    <h2 class="team-member-title bold">Vitalia Milaeva</h2>
                    <p class="text-about">Developer</p>
                    <p class="text-about">Lorem, ipsum dolor sit amet
                    </p>
                </div>
            </li>
            <li class="our-team-list-item">
                <img class="our-team-img" src="./images/team-photos/Aleksandr.jpg" alt="Kateryna" />

                <div class="text-about-member">
                    <h2 class="team-member-title bold">Aleksandr Tsyhankov</h2>
                    <p class="text-about">Developer</p>
                    <p class="text-about">Lorem, ipsum dolor sit amet
                    </p>
                </div>
            </li> -->
    </ul>
  </div>
</div>
