<!-- Надоедалка -->

<div class="modal" tabindex="-1" id="subscription-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="color:#000">Attention!
        </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p style="color:#000">Подпишитесь, срочно, миллион плюшек !!!!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-primary" data-subscribe>Подписаться на рассылку</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" id="joke-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="color:#000">Attention!
        </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p style="color:#000">Мы пошутили у нас нет подписки</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <!-- <button type="button" class="btn btn-primary" data-subscribe>Подписаться на рассылку</button> -->
        </div>
      </div>
    </div>
  </div>
