<div class="container">
  <article class="example container">
    <h1>У нас все получиться!</h1>

    <!-- Путь к изображениям из HTML-фрагмента такой, как из файла index.html -->
    <img src="images/header-desktop@1x.jpg" alt="" width="320" />
    <h2>К проекту уже подключенны следующие пакеты: debounce, handlebars</h2>

    <hr />
    <p>Для минимизации файлов (js and css) нам нужно все пропускать через index.js</p>

    <p>
      Для модального окна можно создать отдельный файл, но нужно всю логику вместить в 1 функцию и
      потом вызвать ее в <code>index.js</code>.
    </p>
    <hr />

    <h2>Info</h2>
    <p>Кнопки для Library рисуем в папке/файле templates/btn_for_library.hbs</p>
    <p>input "Поиск фильмов" рисуем в той же папке в файле input_header.hbs</p>
    <p>Разметку для карточек (gallery), рисуем в файле several_film_card.hbs</p>
    <p>Разметку для ОДНОЙ карточки (modal), рисуем в файле one_film_card.hbs</p>

    <hr />

    <p>
      Синтаксис добавление фрагмента в главный файл:
      <code> &lt;include src="./partials/имя-файла.html"&gt;&lt;/include&gt; </code>
    </p>

    <div class="background"></div>
  </article>
</div>
