<header class="page-header">
  <div class="container">
    <div class="container-navigation">
      <a href="./index.html" class="logo">
        <svg width="24" height="24" class="logo-icon">
          <use href="./images/sprite.svg#icon-movie"></use>
        </svg>
        <span class="logo-title">Filmoteka</span></a
      >
      <nav class="page-header-menu">
        <ul class="site-nav">
          <li class="site-nav-item"><a class="site-nav-link current"> HOME</a></li>
          <li class="site-nav-item"><a class="site-nav-link">MY LIBRARY</a></li>
        </ul>
      </nav>
    </div>
    <form id="search-form" class="search">
      <input class="search-input" type="text" placeholder="Поиск фильмов..." />
      <button class="search-btn" type="submit" title="Погнали!">
        <svg class="search-btn-icon" width="12" height="12">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
  <p class="notification"></p>
</header>
