<!-- <h1>Hello</h1> -->
<section class="pagination"></section>

<div class="pagination_box">
  <section class="pagination_section">
    <!-- <span class="back">
      <svg class="search-btn-icon" width="40" height="40">
        <use href="./images/sprite.svg#icon-back"></use>
      </svg>
    </span> -->

    <ul class="pagination_list">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <!-- <p class="forward">
      <svg class="search-btn-icon" width="40" height="40">
        <use href="./images/sprite.svg#icon-forward"></use>
      </svg>
    </p> -->
  </section>
</div>
