.backdrop-movie-card {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.644);

  z-index: 100;
}

.modal-movie-card-container {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 568px;
  width: 882px;
  z-index: 3;

  padding: 10px;

  background-color: #fff;
  border-radius: 2px;

  overflow: auto;
}

.card-film {
  position: relative;
  width: 280px;
  height: 100vh;
  font-size: 12px;
  font-weight: 500;
  overflow: auto;
  background-color: var(--the-lightest-text-color);
  border-radius: 5px;
  color: var(--text-dark-color);

  @media screen and (min-width: 768px) {
    display: flex;
    width: 640px;
    height: auto;
  }

  @media screen and (min-width: 1024px) {
    display: flex;
    width: 880px;
    height: 570px;
  }
}
​ .card-image {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    width: 50%;
    margin-right: 10px;
  }

  @media screen and (min-width: 1024px) {
    margin-left: 20px;
    margin-right: 0px;
  }
}
​ .card-poster {
  display: block;
  border-radius: 5px;

  @media screen and (min-width: 1024px) {
    height: 100%;
  }
}
​ .card-description {
  margin: 0px 20px;

  @media screen and (min-width: 768px) {
    width: 50%;
  }

  @media screen and (min-width: 1024px) {
    width: 70%;
    //margin-right: 20px;
  }
  ​ &-title {
    font-size: 20px;
    line-height: 1.17;
    font-weight: 500;
    padding-bottom: 20px;
    // margin-top: 30px;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 30px;
      padding-top: 42px;
    }
  }
  ​ &-content {
    padding-bottom: 20px;
  }
  ​ &-cell {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    width: 108px;
    line-height: 16px;
    color: var(--film-details);
    padding-bottom: 10px;

    @media screen and (min-width: 1024px) {
      width: 152px;
    }
  }
  ​ &-details {
    line-height: 14px;
    padding-bottom: 10px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    ​ &--title {
      text-transform: uppercase;
      padding-bottom: 12px;
    }
  }
}
​ .movie-vote {
  background-color: var(--btn-accent-color);
  color: var(--the-lightest-text-color);
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  width: 36px;
  height: 16px;
  padding-top: 1px;
  padding-bottom: 1px;

  @media screen and (min-width: 1024px) {
    padding-top: 1.5px;
    padding-bottom: 1.5px;
  }
}
​ .movie-votes {
  background: var(--minor-bcg-color);
  color: var(--text-dark-color);
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  width: 36px;
  height: 16px;
  padding-top: 1px;
  padding-bottom: 1px;

  @media screen and (min-width: 1024px) {
    padding-top: 1.5px;
    padding-bottom: 1.5px;
  }
}
​ .movie-about {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  ​ &-title {
    line-height: 1.33;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
  ​ &-description {
    text-align: justify;
    line-height: 1.67;
  }
}
​ .modal-btns {
  display: flex;
  margin-bottom: 40px;
}
​ .add-to-watched {
  width: 136px;
  height: 44px;
  background-color: var(--the-lightest-text-color);
  border-radius: 5px;
  border: 1px solid var(--text-dark-color);
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  color: var(--text-dark-color);
  text-transform: uppercase;
  transition: 500;
  cursor: pointer;
  padding: 14px, 10px, 12px;
  margin-right: 10px;
}
​ .add-to-queue {
  width: 136px;
  height: 44px;
  background-color: var(--the-lightest-text-color);
  border-radius: 5px;
  border: 1px solid var(--text-dark-color);
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  color: var(--text-dark-color);
  text-transform: uppercase;
  transition: 500;
  cursor: pointer;
  margin-right: 10px;
}
​ .watch-trailer {
  width: 136px;
  height: 44px;
  background-color: var(--the-lightest-text-color);
  border-radius: 5px;
  border: 1px solid var(--text-dark-color);
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  color: var(--text-dark-color);
  text-transform: uppercase;
  transition: 500;
  cursor: pointer;
}
​ .modal-button-close {
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--the-lightest-text-color);
  border: 1px solid transparent;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url('https://img.icons8.com/material-two-tone/24/000000/multiply.png');

  box-shadow: none;
  ​ &:hover,
  &:focus {
    box-shadow: 0 0 15px var(--btn-accent-color);
  }
}
